<div class="divider"></div>

<div class="view-separator"></div>

<div class="about-us-container">
  <app-breadcrumb></app-breadcrumb>

  <div class="jumbo-text">
    <h2>Comprometidos a brindarte</h2>
    <h2>una alternativa natural a los</h2>
    <h2>remedios convencionales</h2>
  </div>

  <h1 class="page-title">¿Quiénes somos?</h1>
  <p>
    Somos una empresa fundada por mexicanos apasionados por revolucionar la
    industria de la salud.
  </p>
  <p>
    En MedKush honramos la sabiduría de nuestros ancestros en tierra mexicana y
    buscamos regresar a nuestras raíces con el consumo de productos que nos
    provee la madre tierra.
  </p>
  <p>
    Estamos seguros que no se necesitan los medicamentos creados por la
    industria farmacéutica para tratar todas las enfermedades y padecimientos.
    Es por eso que ofrecemos una alternativa 100% natural con los mismos o
    mejores resultados sin efectos secundarios.
  </p>
  <p>
    Comprometidos con la investigación, creación y comercialización de productos
    a base de herbolaria mexicana incluyendo el cáñamo, buscamos acompañarte a
    generar un cambio hacia una vida más saludable física, mental y
    espiritualmente.
  </p>
  <p>
    Contamos con procesos y certificaciones aprobadas a nivel internacional con
    el objetivo de ofrecerte la mejor calidad en el mercado.
  </p>
  <p>
    Formemos parte de un cambio mundial en donde sanar y tratar enfermedades con
    productos botánicos 100% naturales sea nuestra realidad.
  </p>
  <h1 class="page-title">Nuestra Misión</h1>
  <p>Incorporar a la industria farmacéutica una alternativa natural milenaria conocida por beneficiar la salud mental y física de diversas maneras.</p>
  <p>Lograr un mundo en donde podamos tratar y sanar enfermedades conproductos botánicos 100% naturales.</p>
  <p>Mejorar la calidad de vida del ser humano ofreciendo una nueva opción a la medicina convencional.</p>
  <p>Todo esto con el compromiso de ofrecer la mejor calidad en productos.</p>
</div>
