.footer {
  border-top: 1px solid gainsboro;
  background: url('../../../assets/img/backgrounds/weed.png') black;
  .footer-container {
    max-width: 1440px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    color: #545454;
    .navigation {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .navigation-container {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        margin-bottom: 20px;
        margin-right: 20px;
        &:nth-last-child(1) {
          margin-right: 0px;
        }
        @media screen and (max-width: 520px) {
          margin-right: 0px;
          align-items: center;
          text-align: center;
        }
      }
      .logo-container {
        img {
          height: 160px;
        }
      }
      .links {
      }
      .store-container {
      }
      .contact-container {
        .contact-title {
          font-size: 14px;
          text-transform: uppercase;
          font-weight: bold;
          margin: 10px 0px;
          font-family: "Barlow", sans-serif;
        }
      }
      .social-container {
        .social-links {
          display: flex;
          align-items: center;
          font-size: 32px;
          a {
            margin-right: 10px;
            color: #7dc832;
            &:nth-last-child(1) {
              margin-right: 0px;
            }
            &:visited {
              color: #7dc832;
            }
            i {
              cursor: pointer;
              &:hover {
                color: #545454;
              }
            }
          }
        }
      }
      // Global
      .footer-section-title {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 10px;
        font-family: "Barlow", sans-serif;
      }
      @media screen and (max-width: 520px) {
        flex-direction: column;
        align-items: center;
      }
    }
    .disclosure {
      font-size: 12px;
      padding: 20px;
      border-radius: 10px;
      border: 1px solid gainsboro;
      margin-top: 30px;
      background: repeating-linear-gradient(45deg, #dcdcdc, #d4d4d4 10px, #e0e0e0 10px, #e2e2e2 20px);
    }
    .terms-and-conditions {
      text-align: center;
      font-size: 12px;
      padding: 20px;
      a {
        color: #7dc832;
        &:hover {
          color: #b844a7;
        }
      }
    }
    @media screen and (max-width: 768px) {
      padding: 20px;
    }
  }
}
