.jumbotron {
  background-color: black;
  .slide-1 {
    min-height: 200px;
    background: url('../../../assets/img/backgrounds/camo.svg') repeat;
  }
}

.as-seen-on {
  background-color: gainsboro;
  .as-seen-on-container {
    max-width: 1440px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    .label {
      text-align: center;
      text-transform: uppercase;
      font-style: italic;
      color: gray;
      font-size: 16px;
    }
    .line-container {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 10px;
      .line {
        width: 50px;
        height: 5px;
        border-radius: 5px;
        background-color: #b844a7;
      }
    }
    .logos-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      img {
        height: 30px;
        margin: 10px 15px;
        @media screen and (max-width: 768px) {
          height: 25px;
        }
        @media screen and (max-width: 560px) {
          height: 18px;
        }
        @media screen and (max-width: 425px) {
          height: 16px;
        }
      }
    }
  }
}

.products {
  .products-container {
    max-width: 1440px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    .label {
      text-align: center;
      color: black;
      font-weight: bold;
      font-size: 16px;
    }
    .line-container {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 10px;
      .line {
        width: 50px;
        height: 5px;
        border-radius: 5px;
        background-color: #aef16f;
      }
    }
    .products-cards {
      display: flex;
      justify-content: space-around;
      .product-card {
        display: flex;
        flex-direction: column;
        border: 10px;
        box-shadow: 0 0 30px 0 rgba(188, 230, 190, 0.5);
        margin: 20px;
        .product-image {
          display: flex;
          justify-content: center;
          height: 250px;
          width: 250px;
          background-size: contain;
          background-position-x: center;
          background-position-y: center;
          background-repeat: no-repeat;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          @media screen and (max-width: 690px) {
            width: unset;
          }
        }
        .product-details {
          padding: 20px;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          display: flex;
          flex-direction: column;
          .product-name {
            font-weight: bold;
            text-align: center;
          }
          .product-description {
            color: gray;
            font-size: 12px;
            text-align: center;
          }
          .product-prices {
            display: flex;
            justify-content: center;
            .product-retail-price {
              color: gray;
              margin-right: 10px;
              text-decoration: line-through;
            }
            .product-final-price {
              font-size: 16px;
              font-weight: bold;
              align-items: baseline;
            }
          }
          .product-rating {}
          .button-container {
            display: flex;
            justify-content: center;
            margin: 20px;
            .mat-flat-button {
              background-color: #aef16f;
              border-radius: 50px;
              border: 1px solid #aef16f;
              box-shadow: 0 0 30px 0 rgba(188, 230, 190, 0.5);
              &:hover {
                background-color: white;
                color: #aef16f;
              }
            }
          }
          .product-link {
            text-align: center;
            text-decoration: underline;
            &:hover {
              color: #6bb139;
            }
          }
        }
      }
      @media screen and (max-width: 690px) {
        flex-direction: column;
      }
    }
  }
}

.sale {
  // Cannabis background
  background: url('../../../assets/img/backgrounds/cannabis-2.jpg');
  background-size: cover;
  resize: both;
  background-position-x: center;
  background-position-y: center;
  .sale-overlay {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+0,000000+100&0.33+0,0+100 */
    background: -moz-linear-gradient(-45deg,  rgba(0,0,0,0.33) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(0,0,0,0.33) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(0,0,0,0.33) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    // Gradient overlay
    .sale-container {
      max-width: 1440px;
      margin: auto;
      padding: 20px;
      display: flex;
      color: white;
      justify-content: space-around;
      .phrase {
        max-width: 400px;
        text-transform: uppercase;
        font-size: 32px;
        line-height: 1.2;
        padding: 10px;
      }
      .line {
        background-color: white;
        width: 3px;
      }
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .discount {
          text-transform: uppercase;
          font-size: 32px;
          line-height: 1.2;
          padding: 10px;
        }
      }
    }
  }
}

// Swiper customizations

.instagram-swiper {
  background-color: #fafafa;
  margin-bottom: 40px;
  position: relative;
  overflow: hidden;
  .instagram-swiper-container {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    margin: auto;
    .swiper-slide {
      height: 300px;
      background-size: cover;
      resize: both;
      background-position-x: center;
      background-position-y: center;
      .slide-overlay {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+0,000000+100&0.33+0,0+100 */
        background: -moz-linear-gradient(-45deg,  rgba(0,0,0,0.33) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  rgba(0,0,0,0.33) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  rgba(0,0,0,0.33) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        .instagram-username {
          display: flex;
          align-items: center;
          padding: 15px 20px;
          color: white;
          .username {
            line-height: 1;
            font-size: 18px;
          }
          img {
            margin-left: 5px;
            /* width: 15px;
            height: 15px */;
          }
        }
      }
    }
  }
  ::ng-deep {
    .swiper-pagination-2 {
      bottom: 0px;
      position: relative;
      padding: 10px;
      background-color: #fafafa;
    }
    .swiper-pagination-bullet {
      background: #e1e1e8;
      opacity: 1;
      width: 10px;
      height: 10px;
      margin: 0px 6px;
    }
    .swiper-pagination-bullet-active {
      background: #aef16f;
    }
  }
}

::ng-deep {
  .swiper-button-next, .swiper-button-prev {
    outline: none;
    color: rgba(255, 255, 255, 0.5);
  }
}
