<!-- <section class="jumbotron">
  <swiper [config]="config">
    <div class="swiper-wrapper">
      <div class="swiper-slide slide-1">Slide 1</div>
      <div class="swiper-slide slide-1">Slide 2</div>
      <div class="swiper-slide slide-1">Slide 3</div>
      <div class="swiper-slide slide-1">Slide 4</div>
      <div class="swiper-slide slide-1">Slide 5</div>
      <div class="swiper-slide slide-1">Slide 6</div>
      <div class="swiper-slide slide-1">Slide 7</div>
      <div class="swiper-slide slide-1">Slide 8</div>
      <div class="swiper-slide slide-1">Slide 9</div>
      <div class="swiper-slide slide-1">Slide 10</div>
    </div>
    Add Pagination
    <div class="swiper-pagination swiper-pagination-white"></div>
    Add Arrows
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>
    Add Scrollbar (this goes commented)
    <div class="swiper-scrollbar"></div>
  </swiper>
</section> -->

<section class="particles-section">
  <particles  id="particles"  [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
  <particles  id="particles2"  [params]="myParams2" [style]="myStyle" [width]="width" [height]="height"></particles>
  <div class="particles-container">
    <div class="phrases">
      <div class="phrase">
        Una alternativa <span class="t1">natural</span>
      </div>
      <div class="phrase">
        a los remedios <span class="t2">cotidianos.</span>
      </div>
    </div>
  </div>
</section>

<section class="pattern-divider"></section>

<!-- <section class="as-seen-on">
  <div class="as-seen-on-container">
    <div class="label">As seen on</div>
    <div class="line-container">
      <div class="line"></div>
    </div>
    <div class="logos-container">
      <img src="assets/img/logos/as-seen-on/Yahoo.png" alt="">
      <img src="assets/img/logos/as-seen-on/Forbes.png" alt="">
      <img src="assets/img/logos/as-seen-on/WayOfLeaf.png" alt="">
      <img src="assets/img/logos/as-seen-on/La-Weekly.png" alt="">
      <img src="assets/img/logos/as-seen-on/Medical-Daily.png" alt="">
      <img src="assets/img/logos/as-seen-on/ShoppingCBD.png" alt="">
      <img src="assets/img/logos/as-seen-on/Business-Insider.png" alt="">
    </div>
  </div>
</section> -->

<section class="about-section">
  <div class="about-container">
    <!-- <div style="width: 50px; height: 50px; background-color: red;"></div> -->
    <div class="title">Nosotros</div>
    <div class="text">
      <span>Somos una empresa fundada por mexicanos apasionados por mejorar la industria de la salud.</span>
Estamos dedicados a la investigación y comercialización  de productos a base de <span>CBD</span> con grado medicinal. Contamos con procesos y certificaciones aprobadas
a nivel internacional apoyados de nuestros socios comerciales Riverleaf Biotech Industries.
    </div>
    <img src="../../../assets/img/elements/element-1.svg" alt="" srcset="">
  </div>
</section>

<section class="cbd-section">
  <div class="cbd-container">
    <!-- <div style="width: 50px; height: 50px; background-color: red;"></div> -->
    <div class="title">EL CBD</div>
    <div class="text">
      Es un cannabinoide proveniente del cáñamo. Por lo que no tiene un efecto psicoactivo. La propiedad de este cannabinoide es ser altamente relajante y proporcionar innumerables beneﬁcios para el cuerpo. Se ha demostrado que el CBD es bien tolerado y seguro incluso a dosis altas.
    </div>
    <img class="e1" src="../../../assets/img/elements/element-2.svg" alt="" srcset="">
    <img class="e2" src="../../../assets/img/elements/element-3.svg" alt="" srcset="">
    <img class="e3" src="../../../assets/img/elements/element-4.svg" alt="" srcset="">
  </div>
</section>

<section class="benefits-section">
  <div class="benefits-container">
    <!-- <div style="width: 50px; height: 50px; background-color: red;"></div> -->
    <div class="title">Beneficios</div>
    <div class="text">
      Es uno de los antidepresivos más efectivos. Ayuda a combatir la ansiedad, el insomnio, el pánico y la depresión. Muchos estudios atestiguan la efectividad del CBD como analgésico y antiinﬂamatorio. De igual manera, tiene propiedades antioxidantes y contrarresta los radicales libres que se consideran responsables de la mayoría de las enfermedades degenerativas, además combate y reduce la proliferación de células cancerígenas.
    </div>
    <img class="e1" src="../../../assets/img/elements/element-5.svg" alt="" srcset="">
    <img class="e2" src="../../../assets/img/elements/element-6.svg" alt="" srcset="">
  </div>
</section>

<section class="testimonials-title">
  <div class="testimonials-title-container">
    <div>Testimonios</div>
  </div>
</section>
<section class="testimonials-section">
  <div class="testimonials-container">
    <div class="swiper-container" [swiper]="config" [(index)]="index">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="testimonial-conatiner">
            <p>
              We understand the <span>power of technology</span> and its impact with business objectives.
            </p>
            <p>
              We help <span>enhance the ideas</span> of our clients, exposing them to possibilities they had never imagined and <span>fulfulling</span> those that they did.
            </p>
            <div class="quote q1">“</div>
            <div class="quote q2">”</div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial-conatiner">
            <p>
              We understand the <span>power of technology</span> and its impact with business objectives.
            </p>
            <p>
              We help <span>enhance the ideas</span> of our clients, exposing them to possibilities they had never imagined and <span>fulfulling</span> those that they did.
            </p>
            <div class="quote q1">“</div>
            <div class="quote q2">”</div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial-conatiner">
            <p>
              We understand the <span>power of technology</span> and its impact with business objectives.
            </p>
            <p>
              We help <span>enhance the ideas</span> of our clients, exposing them to possibilities they had never imagined and <span>fulfulling</span> those that they did.
            </p>
            <div class="quote q1">“</div>
            <div class="quote q2">”</div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial-conatiner">
            <p>
              We understand the <span>power of technology</span> and its impact with business objectives.
            </p>
            <p>
              We help <span>enhance the ideas</span> of our clients, exposing them to possibilities they had never imagined and <span>fulfulling</span> those that they did.
            </p>
            <div class="quote q1">“</div>
            <div class="quote q2">”</div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial-conatiner">
            <p>
              We understand the <span>power of technology</span> and its impact with business objectives.
            </p>
            <p>
              We help <span>enhance the ideas</span> of our clients, exposing them to possibilities they had never imagined and <span>fulfulling</span> those that they did.
            </p>
            <div class="quote q1">“</div>
            <div class="quote q2">”</div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>

<div class="community-wrapper">
  <div class="community">
    <div class="title">Unete a nuestra comunidad</div>
    <div class="phrase">
      <p>Entérate sobre nuestros nuevos productos y recibe nuestras mejores ofertas.</p>
      <p>¡No te quedes fuera!</p>
    </div>
    <!-- <div class="more-button">Entrar</div> -->
    <button mat-raised-button color="primary" style="background-color: #add1d7; color: white;">Entrar</button>
  </div>
</div>

<section class="products">
  <div class="products-container">
    <div class="label">Nuestros productos</div>
    <div class="line-container">
      <div class="line"></div>
    </div>
    <div class="products-cards">
      <div class="product-card">
        <div class="product-image" [style.backgroundImage]="'url(assets/img/products/gotas.png)'"></div>
        <div class="product-details">
          <div class="product-name">Aceite de CBD</div>
          <div class="product-description">1000mg</div>
          <div class="product-prices">
            <div class="product-retail-price">{{ 1200 | currency }}</div>
            <div class="product-final-price">{{ 1200 * 0.8 | currency }}</div>
          </div>
          <!-- <div class="product-rating">Product rating</div> -->
          <div class="button-container">
            <button mat-flat-button>Añadir al carrito</button>
          </div>
          <div class="product-link">Ver producto</div>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image" [style.backgroundImage]="'url(assets/img/products/balsamo.png)'"></div>
        <div class="product-details">
          <div class="product-name">Bálsamo de CBD</div>
          <div class="product-description">350g</div>
          <div class="product-prices">
            <div class="product-retail-price">{{ 900 | currency }}</div>
            <div class="product-final-price">{{ 900 * 0.8 | currency }}</div>
          </div>
          <!-- <div class="product-rating">Product rating</div> -->
          <div class="button-container">
            <button mat-flat-button>Añadir al carrito</button>
          </div>
          <div class="product-link">Ver producto</div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sale">
  <section class="sale-overlay">
    <div class="sale-container">
      <div class="phrase">Navega en nuestras increibles ofertas</div>
      <div class="line"></div>
      <div class="container">
        <div class="discount">20% Off En todo el sitio</div>
      </div>
    </div>
  </section>
</section>

<section class="products">
  <div class="products-container">
    <div class="label">Miles de fans confían en nosotros</div>
    <div class="line-container">
      <div class="line"></div>
    </div>
  </div>
</section>










