<section class="jumbotron">
  <!-- <div  class="swiper-container" [swiper]="config" [(index)]="index">
    <div class="swiper-wrapper">
      <div class="swiper-slide slide-1">
        Swiper slide content 1
      </div>
      <div class="swiper-slide slide-1">
        Swiper slide content 2
      </div>
      <div class="swiper-slide slide-1">
        Swiper slide content 3
      </div>
    </div>

    <div class="swiper-scrollbar"></div>
    <div class="swiper-pagination swiper-pagination-white"></div>

    <div class="swiper-button-prev swiper-button-white" (click)="prevSlide()"></div>
    <div class="swiper-button-next swiper-button-white" (click)="nextSlide()"></div>
  </div>



  <swiper [config]="config" [(index)]="index">
    <div>
      Swiper slide content
    </div>
    <div>
      Swiper slide content
    </div>
    <div>
      Swiper slide content
    </div>
    <div>
      Swiper slide content
    </div>
  </swiper> -->
  <swiper [config]="config">
    <div class="swiper-wrapper">
      <div class="swiper-slide slide-1">Slide 1</div>
      <div class="swiper-slide slide-1">Slide 2</div>
      <div class="swiper-slide slide-1">Slide 3</div>
      <div class="swiper-slide slide-1">Slide 4</div>
      <div class="swiper-slide slide-1">Slide 5</div>
      <div class="swiper-slide slide-1">Slide 6</div>
      <div class="swiper-slide slide-1">Slide 7</div>
      <div class="swiper-slide slide-1">Slide 8</div>
      <div class="swiper-slide slide-1">Slide 9</div>
      <div class="swiper-slide slide-1">Slide 10</div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination swiper-pagination-white"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>
    <!-- Add Scrollbar -->
    <!-- <div class="swiper-scrollbar"></div> -->
  </swiper>
</section>

<section class="as-seen-on">
  <div class="as-seen-on-container">
    <div class="label">As seen on</div>
    <div class="line-container">
      <div class="line"></div>
    </div>
    <div class="logos-container">
      <img src="assets/img/logos/as-seen-on/Yahoo.png" alt="">
      <img src="assets/img/logos/as-seen-on/Forbes.png" alt="">
      <img src="assets/img/logos/as-seen-on/WayOfLeaf.png" alt="">
      <img src="assets/img/logos/as-seen-on/La-Weekly.png" alt="">
      <img src="assets/img/logos/as-seen-on/Medical-Daily.png" alt="">
      <img src="assets/img/logos/as-seen-on/ShoppingCBD.png" alt="">
      <img src="assets/img/logos/as-seen-on/Business-Insider.png" alt="">
    </div>
  </div>
</section>

<section class="products">
  <div class="products-container">
    <div class="label">Nuestros productos</div>
    <div class="line-container">
      <div class="line"></div>
    </div>
    <div class="products-container">
    </div>
  </div>
</section>

<section class="sale">
  <section class="sale-overlay">
    <div class="sale-container">
      <div class="phrase">Navega en nuestras increibles ofertas</div>
      <div class="line"></div>
      <div class="container">
        <div class="discount">20% Off En todo el sitio</div>
      </div>
    </div>
  </section>
</section>

<section class="products">
  <div class="products-container">
    <div class="label">Miles de fans confían en nosotros</div>
    <div class="line-container">
      <div class="line"></div>
    </div>
  </div>
</section>

<section class="instagram-swiper">
  <div class="instagram-swiper-container">
    <swiper [config]="config2">
      <div class="swiper-wrapper">
        <div class="swiper-slide slide-1">Slide 1</div>
        <div class="swiper-slide slide-1">Slide 2</div>
        <div class="swiper-slide slide-1">Slide 3</div>
        <div class="swiper-slide slide-1">Slide 4</div>
        <div class="swiper-slide slide-1">Slide 5</div>
        <div class="swiper-slide slide-1">Slide 6</div>
        <div class="swiper-slide slide-1">Slide 7</div>
        <div class="swiper-slide slide-1">Slide 8</div>
        <div class="swiper-slide slide-1">Slide 9</div>
        <div class="swiper-slide slide-1">Slide 10</div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination swiper-pagination-white"></div>
      <!-- Add Arrows -->
      <div class="swiper-button-next swiper-button-white"></div>
      <div class="swiper-button-prev swiper-button-white"></div>
      <!-- Add Scrollbar -->
      <!-- <div class="swiper-scrollbar"></div> -->
    </swiper>
  </div>
</section>
