<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    mode="over"
    [(opened)]="opened"
  >
    <div class="logomark-container">
      <!-- <img class="om-logomark" src="/assets/img/logos/om/om-logomark-white.svg" alt="om logomark"/> -->
    </div>
    <div class="navigation-links-container">
      <a routerLink="/home" routerLinkActive="active" (click)="opened = false">Home</a>
      <a routerLink="/services" routerLinkActive="active" (click)="opened = false">Services</a>
      <a routerLink="/about" routerLinkActive="active" (click)="opened = false">About Us</a>
      <a routerLink="/partners" routerLinkActive="active" (click)="opened = false">Business Partners</a>
      <a routerLink="/resources" routerLinkActive="active" (click)="opened = false">Free Resources</a>
      <a routerLink="/connect" routerLinkActive="active" (click)="opened = false">Connect</a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (toggleSidenav)="sidenav.toggle()"></app-header>
    <div class="router-outlet-container">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
