.scroll-to-top {
  z-index: 1;
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  transition: all .2s ease-in-out;
  button {
    box-shadow: 0 0 5px 0 rgba(188, 230, 190, 0.5);
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#aef16f+1,8eb92a+50,72aa00+51,9ecb2d+100 */
    background: rgb(174,241,111); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(174,241,111,1) 1%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(174,241,111,1) 1%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(174,241,111,1) 1%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aef16f', endColorstr='#9ecb2d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    &:hover {
      background: none;
      border: 1px solid #aef16f;
      background-color: white;
      color: #9ecb2d;
    }
  }
}

.show-scrollTop {
  opacity: 1;
  transition: all .2s ease-in-out;
}
