<div class="divider"></div>

<div class="view-separator"></div>

<div class="products-container">
  <app-breadcrumb></app-breadcrumb>

  <h1 class="page-title">Nuestros productos</h1>

  <p class="products-page-description">
    Aquí encontraras nuestra completa colección de productos. Lea cuidadosamente los usos y los potenciales beneficios para su bienestar. No dude en ponerse en contacto si tiene alguna pregunta o si requiere información adicional.
  </p>

  <div class="product-cards-container">
    <div *ngFor="let product of products" class="product-card-wrapper">
      <div class="product-container">
        <div style="cursor: pointer;" (click)="navigateToProduct(product.id)">
          <div class="product-image" [style.backgroundImage]="'url(' + product.imgUrl + ')'"></div>
          <div class="name" >{{product.name}}</div>
          <div class="grammage">{{product.grammage}}</div>
          <div class="price">{{product.price | currency}}</div>
          <div class="final-price">{{product.price * (1 - product.discount) | currency}}</div>
        </div>
        <button mat-flat-button class="action-button" (click)="onWhatsApp(product)">Comprar</button>
        <!-- <button mat-flat-button class="action-button">Agregar al carrito</button> -->
        <div class="view-product" (click)="navigateToProduct(product.id)">Ver producto</div>
      </div>
    </div>
  </div>
</div>

